colorGrayDark = #79869e
colorGray = #9ca4b5
colorGrayLight = #bfc7d6
colorShadow = #a1a1a1

colorSuccess = #2eaaa4
colorError = #ff529b

mobile = unquote('max-width: 700px')
desktop = unquote('min-width: 701px')

font-large()
  font-family SBSans
  //font-size 48px
  font-size 3rem
  font-weight 700
  line-height 0.9
  text-align center
  color #525966

font-medium()
  font-family SBSans
  font-weight 500
  // font-size 32px
  font-size 2rem
  line-height 1.13
  text-align center
  color #525966

font-small-bold()
  font-family SBSans
  font-weight 700
  //font-size 24px
  font-size 1.5rem
  line-height 1.2
  color #525966
font-small-thin()
  font-family SBSans
  font-weight 600
  //font-size 24px
  font-size 1.5rem
  line-height 1.2
  color #525966

font-small-extra()
  font-family SBSans
  //font-size 18px
  font-size 1rem
  font-weight 500
  line-height 1.2
  color #525966
