textColor1 = #def5f0
textColor2 = #b1e5df
textColor3 = #91bfc1
textColor4 = #86a1ab
textColor5 = #728186

textColorDark1 = #000000
textColorDark2 = #252525
textColorDark3 = #313131
textColorDark4 = #3f3f3f
textColorDark5 = #565656

empColor1_1 = #00ffd9
empColor1_2 = #1cb08a
empColor1_3 = #1a795f
empColor1_4 = #0f4439

empColor2_1 = #ffb700
empColor2_2 = #bb7d21
empColor2_3 = #694a1c
empColor2_4 = #4d3114

colorBg = #181818
colorBgLight = #313131
colorBorder = #646464
colorBorderDark = #18181888
colorBlocksBg = #444444AA
colorBlocksBgHover = mix(colorBlocksBg, white, 95%)

colorShadowLight-x = #00000015
colorShadowLight = #00000033
colorShadow =      #00000044
colorShadowDark =  #00000055
colorShadowDark-x = #000000BB

colorSuccess = #2eaaa4
colorError = #ff529b

mobile = unquote('max-width: 700px')
desktop = unquote('min-width: 701px')

font-large()
  font-family MontserratAlternates
  //font-size 48px
  font-size 3rem
  font-weight 700
  line-height 1

font-medium()
  font-family MontserratAlternates
  font-weight 500
  // font-size 32px
  font-size 1.6rem
  line-height 1.2

font-small()
  font-family MontserratAlternates
  font-weight 500
  //font-size 24px
  font-size 1rem
  line-height 1.2

font-small-extra()
  font-family MontserratAlternates
  //font-size 18px
  font-size 0.8rem
  font-weight 500
  line-height 1.2
