_font_default()
    font-family MontserratAlternates
    font-style normal
    font-stretch normal

@font-face
    _font_default()
    src local(MontserratAlternates-Bold),
    url(../res/fonts/Montserrat_Alternates/MontserratAlternates-Bold.ttf) format("truetype")
    font-weight 500
@font-face
    _font_default()
    src local(MontserratAlternates-SemiBold),
    url(../res/fonts/Montserrat_Alternates/MontserratAlternates-SemiBold.ttf) format("truetype")
    font-weight 600
@font-face
    _font_default()
    src local(MontserratAlternates-Regular),
    url(../res/fonts/Montserrat_Alternates/MontserratAlternates-Regular.ttf) format("truetype")
    font-weight 500

