_font_default()
    font-family SBSans
    font-style normal
    font-stretch normal

@font-face
    _font_default()
    src local(SBSansText-Bold),
    url(../res/fonts/SBSans/SBSans/SBSansText-Bold.ttf) format("truetype")
    font-weight 700
@font-face
    _font_default()
    src local(SBSansText-SemiBold),
    url(../res/fonts/SBSans/SBSans/SBSansText-SemiBold.ttf) format("truetype")
    font-weight 600
@font-face
    _font_default()
    src local(SBSansText-Regular),
    url(../res/fonts/SBSans/SBSans/SBSansText-Regular.ttf) format("truetype")
    font-weight 500

